body{
    background: linear-gradient(230deg, #ff0000, #ff6e00, #ffb200, #ffdf00, #e7ff00, #98ff00, #55ff00, #11ff00, #00ff49, #00ffae, #00fffd, #009cff, #0064ff, #0015ff, #6700ff, #9f00ff, #d700ff, #ff00d8, #ff0068, #ff0000);
    background-size: 4000% 4000%;
    -webkit-animation: rainbowAnimation 0s ease infinite;
    -moz-animation: rainbowAnimation 0s ease infinite;
    -o-animation: rainbowAnimation 0s ease infinite;
    animation: rainbowAnimation 0s ease infinite;
}
@-webkit-keyframes rainbowAnimation {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@-moz-keyframes rainbowAnimation {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@-o-keyframes rainbowAnimation {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@keyframes rainbowAnimation {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
